# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env

# Archives
*.zip
*.tar
*.gz
*.rar
*.7z

# Foundry (opcional)
*.db
worlds/
packs/